h1{
    background-color: blue;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    background-color: darkslategray;
    color: aliceblue;
}

ul{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.red{
    color: red;
}

.yellow{
    color: yellow;
}

.green{
    color: green;
}

.blue{
    color: aqua;
}